<ion-header>
  <ion-toolbar>
    <ion-title>Cuidados del Hogar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid>
    <h4>Frutas</h4>
    <!-- Carne de Res -->
    <swiper-container>
      <!-- 1-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets\imgs\carnes\hogar\ace.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Detergente</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 2-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets\imgs\carnes\hogar\poet.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Poet</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>

    </swiper-container>
  </ion-grid>
  <ion-grid>
    <h4>Verduras</h4>
    <!-- Carne de Res -->
    <swiper-container>
      <!-- 1------------ -->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets\imgs\carnes\hogar\escoba.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Escoba</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 2-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets\imgs\carnes\hogar\recogedor.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Recogedor</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
  
    
    </swiper-container>
  </ion-grid>
  
</ion-content>
