<ion-header>
  <ion-toolbar>
    <ion-title>Carnes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid>
    <h4>Carne de Res</h4>
    <!-- Carne de Res -->
    <swiper-container>
      <!-- 1-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets/imgs/carnes/carnemolida.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Carnes Molida</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 2-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets/imgs/carnes/bofee.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>BOFEE</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 3-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets/imgs/carnes/carnepicada.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Carne Picada</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 4-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets/imgs/carnes/carneres.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Carnes Res</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 5-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets/imgs/carnes/costillar.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Costillar</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 6-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets/imgs/carnes/higado.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Higado</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 7-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets/imgs/carnes/lengua.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Lengua</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 8-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets/imgs/carnes/lomo.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Lomo Fino</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 9-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets/imgs/carnes/milanesa.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Milanesa</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>

     
    </swiper-container>
  </ion-grid>
  <ion-grid>
    <h4>Carne de Cerdo</h4>
    <!-- Carne de Res -->
    <swiper-container>
      <!-- 1------------ -->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets\imgs\carnes\cerdo\cabeza.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Cabeza de Cerdo</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 2-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets\imgs\carnes\cerdo\chuleta.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Chuleta</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 3-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets\imgs\carnes\cerdo\costillar.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Costillar</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 4-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets\imgs\carnes\cerdo\download.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Medunencia</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 5-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets\imgs\carnes\cerdo\lomo.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Lomo</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 6-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets\imgs\carnes\cerdo\pata.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Pata</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- 7-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets\imgs\carnes\cerdo\tocino.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Tocino</p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
  

     
    </swiper-container>
  </ion-grid>
  
</ion-content>
