<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Mercado Listo Ya</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <!-- Primera fila de tarjetas  --> 
    <ion-row>
      <!-- 1 fila de tarjetas  --> 
      <ion-col size-md="6" size-lg="6" size-xl="6">
        <ion-card>
          <ion-img src="assets\imgs\1.png"></ion-img>     
            <!-- Información sobre el producto 1 -->
            <div style="position: absolute; bottom: 0; left: 0; background-color: rgba(37, 37, 37, 0.7); color: white; padding: 10px; font-weight: bold;">
              <ion-router-link routerLink="/carnes" style="color: #ffffff;"> Carnes Rojas</ion-router-link>
            </div>   
        </ion-card>
      </ion-col>
    </ion-row>

            <!-- 2 fila de tarjetas  --> 
      <ion-row>      
      <ion-col size-md="6" size-lg="6" size-xl="6">
        <ion-card>
          <ion-img src="assets\imgs\2.jpg"></ion-img>     
            <!-- Información sobre el produ cto 1 -->
            <div style="position: absolute; bottom: 0; left: 0; background-color: rgba(37, 37, 37, 0.7); color: white; padding: 10px; font-weight: bold;">
              
              <ion-router-link routerLink="/pollo" style="color: #ffffff;">Carnes Blancas: Pollo/Pescado</ion-router-link>
            </div>   
        </ion-card>
      </ion-col> 
    </ion-row>

    <ion-row>
            <!-- 1 fila de tarjetas  --> 
      <ion-col size-md="6" size-lg="6" size-xl="6">
        <ion-card>
          <ion-img src="assets\imgs\3.jpg"></ion-img>     
            <!-- Información sobre el producto 1 -->
            <div style="position: absolute; bottom: 0; left: 0; background-color: rgba(37, 37, 37, 0.7); color: white; padding: 10px; font-weight: bold;">
              
              <ion-router-link routerLink="/verduras"style="color: #ffffff;">Frutas y Verduras</ion-router-link>
            </div>   
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
            <!-- 1 fila de tarjetas  --> 
      <ion-col size-md="6" size-lg="6" size-xl="6">
        <ion-card>
          <ion-img src="assets\imgs\4.jpg"></ion-img>     
            <!-- Información sobre el producto 1 -->
            <div style="position: absolute; bottom: 0; left: 0; background-color: rgba(37, 37, 37, 0.7); color: white; padding: 10px; font-weight: bold;">
              
              <ion-router-link routerLink="/hogar" style="color: #ffffff;">Cuidado del Hogar</ion-router-link>
            </div>   
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
            <!-- 1 fila de tarjetas  --> 
      <ion-col size-md="6" size-lg="6" size-xl="6">
        <ion-card>
          <ion-img src="assets\imgs\5.jpg"></ion-img>     
            <!-- Información sobre el producto 1 -->
            <div style="position: absolute; bottom: 0; left: 0; background-color: rgba(37, 37, 37, 0.7); color: white; padding: 10px; font-weight: bold;">
              
              <ion-router-link routerLink="/personal" style="color: #ffffff;">Cuidado Personal</ion-router-link>
            </div>   
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
            <!-- 1 fila de tarjetas  --> 
      <ion-col size-md="6" size-lg="6" size-xl="6">
        <ion-card>
          <ion-img src="assets\imgs\6.jpg"></ion-img>     
            <!-- Información sobre el producto 1 -->
            <div style="position: absolute; bottom: 0; left: 0; background-color: rgba(37, 37, 37, 0.7); color: white; padding: 10px; font-weight: bold;">
              
              <ion-router-link routerLink="/mascotas" style="color: #ffffff;">Cuidado de Mascotas</ion-router-link>
            </div>   
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
            <!-- 1 fila de tarjetas  --> 
      <ion-col size-md="6" size-lg="6" size-xl="6">
        <ion-card>
          <ion-img src="assets\imgs\7.jpg"></ion-img>     
            <!-- Información sobre el producto 1 -->
            <div style="position: absolute; bottom: 0; left: 0; background-color: rgba(37, 37, 37, 0.7); color: white; padding: 10px; font-weight: bold;">
              
              <ion-router-link routerLink="/abarrotes" style="color: #ffffff;">Abarrotes</ion-router-link>
            </div>   
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
            <!-- 1 fila de tarjetas  --> 
      <ion-col size-md="6" size-lg="6" size-xl="6">
        <ion-card>
          <ion-img src="assets\imgs\8.jpg"></ion-img>     
            <!-- Información sobre el producto 1 -->
            <div style="position: absolute; bottom: 0; left: 0; background-color: rgba(37, 37, 37, 0.7); color: white; padding: 10px; font-weight: bold;">
              
              <ion-router-link routerLink="/bebe" style="color: #ffffff;">Cuidado para el Bebé</ion-router-link>
            </div>   
        </ion-card>
      </ion-col>
    </ion-row>





  </ion-grid>
</ion-content>
