<ion-header>
  <ion-toolbar>
    <ion-title>Abarrotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid>
    <h4>PASTAS</h4>
    <!-- Carne de Res -->
    <swiper-container>
      <!-- 1-------------->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets\imgs\carnes\personal\fideo.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Fideo /p>
            <p>1 kg.</p>
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>


    </swiper-container>
  </ion-grid>
  <ion-grid>
    <h4>Enlatados</h4>
    <!-- Carne de Res -->
    <swiper-container>
      <!-- 1------------ -->
      <swiper-slide>
        <ion-card style="width: 200px;">
          <ion-img style="width: 100px; margin: 0 auto;" src="assets\imgs\carnes\personal\atun.png"></ion-img>
          <ion-card-content>
            <p>S/.72,20</p>
            <p>Atun</p>
            
            <ion-button class="add-button" fill="clear">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>

    
    </swiper-container>
  </ion-grid>
  
</ion-content>
